/* Images avec bas couvert progressivement au scroll
bordure entre deux section arrondie
video au lieu de photo */
/* RESET */
body, div, ul, li, h1, h2, h3, form, fieldset, input, textarea, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
}

/* GENERAL */
@font-face {
    font-family: 'Courgette';
    src: url('assets/Courgette-Regular.woff2') format('woff2'),
        url('assets/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: rgb(44, 41, 41);
    --secondary-color: #363636;
    --tertiary-color: #d3AB9E;
    --text-color: #ebd8D0;
}

body {
	background: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 100%;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

a {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    filter: brightness(101%);
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.144);
}

/* ICONS */
.fa-solid .fa-bars {
    color: white;
}

/* HOME */
.home .presentation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    z-index: 1;
}
.home h1 {
    font-family: 'Courgette';
    font-size: 80px;
    text-shadow: 0 4px 7px rgba(0, 0, 0, 0.253);
    margin-bottom: 30px;
}
.home-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(0.8);
    z-index: 1;
}

.nav-button i {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 25px;
    z-index: 4;
    cursor: pointer;
}

.nav-button i:hover {
    filter: brightness(110%);
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.363);
}

.nav-wrap {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 5px;
    height: 50%;
    z-index: 3;
}

.nav-wrap nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.062);
    backdrop-filter: blur(8px);
    padding: 10px 20px 0 20px;
    border-radius: 25px 0 25px 25px;
}

.nav-wrap nav ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.nav-wrap nav ul li a {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
    font-size: 22px;
}
.nav-wrap nav ul li a:hover {
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.144);
}
.nav-wrap nav ul li a:visited {
    color: white;
}

/* SECTIONS */
.wrap-sections {
    position: absolute;
    top: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(8px);
    padding: 50px 0 50px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
}

/*FORMATION*/
.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}
.projects .wrap-cards {
    display: flex;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.projects .wrap-cards .card-project {
    width: 50%;
    border-right: 1px solid white;
}
.projects .wrap-cards .card-project .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .wrap-cards .card-project .card-content .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    border-top: 1px solid white;
}
.projects .wrap-cards .card-project .card-img {
    width: 95%;
    height: 300px;
    object-fit: cover;
}
.projects .wrap-cards .card-project .card-content .link-project {
    text-decoration: none;
    font-size: 17px;
}
.projects .wrap-cards .card-project .card-content .link-project:hover {
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.274);
}

/*CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
