/* RESET */
body, div, ul, li, h1, h2, h3, h4, form, fieldset, input, textarea, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* GENERAL */
@font-face {
    font-family: 'Courgette';
    src: url('assets/fonts/Courgette-Regular.ttf') format('ttf'),
        url('assets/fonts/Courgette-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: rgb(44, 41, 41);
    --secondary-color: #363636;
    --tertiary-color: #b9d6a8;
    --text-color: #d0ebde;
    --text-white: white;
}

body {
	background: var(--primary-color);
    color: var(--text-white);
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 100%;
}

h3 {
    text-align: center;
    padding-bottom: 5px;
}

h4 {
    padding-top: 10px;
}

a {
    color: var(--tertiary-color);
}

a:visited {
    color: var(--tertiary-color);
}

a:hover {
    filter: brightness(101%);
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.144);
}

/* ICONS */
.fa-solid .fa-bars {
    color: var(--text-white);
}

.fa-brands:hover {
    color: var(--tertiary-color);
} 

/* HOME */
.home .presentation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    z-index: 1;
}
.home h1 {
    font-family: 'Courgette';
    font-size: 80px;
    text-shadow: 0 4px 7px rgba(0, 0, 0, 0.253);
    margin-bottom: 30px;
}
.home-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(0.8);
    z-index: 1;
}

.home-background .video-responsive {
    display: none;
}

#language-btn {
    position: fixed;
    top: 20px;
    right: 60px;
    z-index: 4;
    cursor: pointer;
}

.nav-button #icon-nav {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 25px;
    z-index: 4;
    cursor: pointer;
}

.nav-button #icon-nav:hover {
    filter: brightness(110%);
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.363);
}

.nav-wrap {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 5px;
    height: 50%;
    z-index: 3;
}

.nav-wrap nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.062);
    backdrop-filter: blur(8px);
    padding: 10px 20px 0 20px;
    border-radius: 25px 0 25px 25px;
}

.nav-wrap nav ul {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.nav-wrap nav ul li a {
    color: var(--text-white);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
    font-size: 22px;
}
.nav-wrap nav ul li a:hover {
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.144);
}
.nav-wrap nav ul li a:visited {
    color: var(--text-white);
}

/* SECTIONS */
.wrap-sections {
    position: absolute;
    top: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(8px);
    padding: 50px 0 50px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
}

.wrap-sections h2 {
    font-size: 125px;
    margin-top: 50px;
    margin-bottom: 100px;
    letter-spacing: 50px;
    color: rgba(255, 255, 255, 0.397);
    text-shadow: none;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.699);
}
.projects .wrap-cards {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    width: 100%;
}
.projects .wrap-cards .card-project {
    display: flex;
    flex-direction: row;
    gap: 45px;
}
.projects .wrap-cards .second-card {
    flex-direction: row-reverse;
}
.projects .wrap-cards .card-project .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(27, 27, 27, 0.63);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    font-size: 21px;
}

.projects .wrap-cards .card-project .text .techno-projets {
    display: flex;
    gap: 12px;
    font-size: 30px;
}

.projects .wrap-cards .card-project .text ul {
    list-style: circle inside;
}
.projects .wrap-cards .card-project .card-img-wrap {
    width: 800px;
    min-height: 300px;
    overflow: hidden;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.199);
    border-radius: 15px;
}
.projects .wrap-cards .card-project .card-img-wrap .card-img {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: all 0.4s ease-out;
}
.projects .wrap-cards .card-project .card-img-wrap .card-img:hover {
    transform: scale(1);
}
.projects .wrap-cards .card-project .link-project {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.274);
    transition: all 0.5s ease-out;
}
.projects .wrap-cards .card-project .link-project:hover {
    position: relative;
    top: -1px;
    filter: brightness(110%);
    text-shadow: 1px 3px 20px rgba(255, 255, 255, 0.288);
}

/*FORMATION*/
.formation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.699);
}

.formation .formation-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 100px;
    background-color: rgba(27, 27, 27, 0.63);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
}

/*CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.699);
}

.contact .contact-content {
    display: flex;
    align-items: center;
}

.contact .contact-content ul {
    color: var(--tertiary-color);
    list-style: circle;
}

.contact .contact-content ul a {
    color: var(--tertiary-color);
    font-size: 23px;
}

.contact .contact-content #github-icon {
    height: 25px;
    padding-left: 10px;
    position: relative;
    top: 4px;
}

/* PAGE SOPHIE BLUEL */
#back-home {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 25px;
    z-index: 3;
    cursor: pointer;
}

#back-home #back-home-link {
    display: flex;
    gap: 10px;
    color: #fff;
    height: 100%;
}
#back-home #back-home-link:hover {
    filter: brightness(101%);
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.363);
}

#back-home #arrow-left {
    height: 100%;
}

.titles-page-sb {
    width: 100%;
    text-align: center;
}

.description-text {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#gallery article {
    text-align: center;
}

#gallery figcaption {
    margin-top: 10px;
}

.img-wrap-articles {
    overflow: hidden;
    width: 100%;
    height: 270px;
    object-fit: cover;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.185);
}

#gallery article img {
    width: 100%;
    transform: scale(1);
    transition: all 0.4s ease-out;
    cursor: pointer;
}

#gallery article img:hover {
    transform: scale(1.2);
}

/* ANIMATIONS */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.hidden {
    animation: fadeOut 0.5s forwards;
}

/* RESPONSIVE */
/* TABLET */
@media screen and (max-width: 1024px) {
    .wrap-sections {
        width: max-content;
    }

    .projects .wrap-cards .card-project {
        height: 350px;
    }

    .projects .wrap-cards .card-project .text {
        width: 275px;
        gap: 10px;
    }

    .projects .wrap-cards .card-project .card-img-wrap {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {  
    .wrap-sections {
        min-width: 100vw;
    }

    .wrap-sections h2 {
        font-size: 70px;
        letter-spacing: 35px;
    }

    .presentation h1 {
        margin-top: 100px;
        font-size: 70px;
    }

    .home .presentation p {
        width: 90%;
        text-align: center;
    }

    .home-background .video-desktop {
        display: none;
    }

    .home-background .video-responsive {
        display: inline-block;
        width: 100%;
    }

    #language-btn {
        font-size: 30px;
    }

    .nav-button #icon-nav {
        top: 20px;
        right: 20px;
        font-size: 30px;
    }

    .nav-wrap {
        height: 400px;
    }

    .nav-wrap nav ul li a {
        margin-left: 10px;
    }
    .projects {
        height: 2800px;
    }

    .projects .wrap-cards {
        gap: 300px;
    }

    .projects .wrap-cards .card-project {
        flex-direction: column;
        gap: 0;
    }

    .projects .wrap-cards .second-card {
        flex-direction: column;
    }

    .projects .wrap-cards .card-project .card-img-wrap {
        height: 325px;
        width: 600px;
    }

    .projects .wrap-cards .card-project .text {
        font-size: 23px;
        width: 587px;
    }

    .formation, .contact {
        font-size: 23px;
    }

    #back-home {
        height: 30px;
    }

    #home-page {
        font-size: 30px;
    }

    #title-sb {
        margin-top: -50px;
        text-align: center;
    }

    .description-text {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }

    #wrap-second-page {
        max-width: 768px;
    }

    #gallery {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .img-wrap-articles {
        height: 310px;
    }
    
    #gallery article img {
        width: 100%;
        transform: scale(1);
        transition: all 0.4s ease-out;
    }
    
    #gallery article img:hover {
        transform: scale(1.2);
    }
}

/* MOBILE */
@media screen and (max-width: 425px) {

    .home .presentation p {
        height: 100vh;
    }

    .wrap-sections {
        top: 850px;
        padding-left: 10px;
    }
    
}

/* BIG SCREENS */
@media screen and (min-width: 2048px) {
    .home-background {
        position: fixed;
        text-align: center;
    }
}